nav {
  width: 250px;
  height: calc(100vh - 100px);

  padding: 2px;
}

nav.main-nav .main-time {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-shadow: 2px 1px 9px 0px #c2c2c2;
}

nav.main-nav .main-time span {
  font-size: 25px;
}

nav.main-nav ul {
  box-shadow: 2px 1px 9px 0px #c2c2c2;
  width: 100%;
  margin: 15px 0px;
  border-radius: 0px 8px 8px 0px;
  padding-bottom: 0px;
}

nav.main-nav ul li {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 20px 15px;
  cursor: pointer;
  font-size: 17px;
  transition: 0.5s;
}
nav.main-nav ul li:hover {
  background-color: #add8e6;
}
nav.main-nav ul li a {
  text-decoration: none;
  border: none;
  width: 100%;
  display: flex;
  gap: 10px;
}

nav.main-nav ul li.btn-add {
  background-color: #836fff;
  color: #fff;
}

nav.main-nav ul li .icono {
  color: #000080;
  font-size: 22px;
}

nav.main-nav ul li a:hover {
  color: #d46b08;
  font-weight: 600;
}

nav.main-nav ul li.menu {
  background-color: transparent;
}

nav.main-nav ul li.active {
  background-color: #add8e6;
}

@media screen and (max-width: 900px) {
  nav.main-nav {
    background: #d9d9d9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: scroll;
  }
  nav.main-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    box-shadow: none;
  }
  nav.main-nav ul li {
    align-items: center;
  }

  nav.main-nav ul li:hover {
    background-color: #add8e6;
  }
  nav.main-nav ul li a {
    align-items: center;
  }
  nav.main-nav ul li .menu-label {
    display: block;
    font-size: 12px;
  }
  nav {
    height: 140px;
  }
  nav.main-nav .main-time {
    display: none;
  }
}
