.post {
  width: 80%;
  border: none;
  padding: 20px;
  box-shadow: 2px 1px 9px 0px #c2c2c2;
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.post .post-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.post .post-header h1 {
  font-size: 16px;
  padding: 15px 0px;
  border-bottom: solid 1px #ddd;
}

.post .post-header .header-metadata {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2px 15px;
  padding: 20px;
  justify-content: space-between;
  border: solid 1px #ddd;
  border-radius: 10px;
}

.post .post-header .header-metadata span {
  font-size: 13px;
  color: #333;
  font-weight: 800;
}

.post .user-perfil {
  display: flex;
  gap: 15px;
  padding: 10px 0px;
}

.post .user-perfil .user-foto {
  width: 50px;
  height: 50px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post .user-perfil .user-foto img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post .user-perfil .user-metadata {
  border: none;
}

.post .user-perfil .user-metadata .name {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 2px;
}

.post .user-perfil .user-metadata .username {
  font-size: 14px;
  padding: 5px 0px;
}

.post .post-text {
  padding: 19px 0px;
  color: #333;
}

.post .actions {
  display: flex;
  padding: 5px 30px;
  gap: 20px;
}

.post .actions a {
  text-decoration: none;
  color: #2f4f4f;
  font-weight: 700;
}
.post .actions span {
  margin-left: 6px;
}

@media screen and (max-width: 1400px) {
  .post .post-header .header-metadata {
    display: block;
    padding: 20px 10px;
    text-align: center;
  }

  .post .post-header .header-metadata p {
    margin-top: 5px;
  }
}
