@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f9;
  height: 100vh;
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
}

.main-views {
  background-color: transparent;
  flex-grow: 1;
  margin: 15px;
  padding: 10px;
  overflow-y: scroll;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  width: 100%;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  background-color: #2f54eb;
  color: #fff;
  font-size: 200px;
  animation: rotateAnimation 10s infinite linear;
  border-radius: 50%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }
}
